/* comon and reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --white: #fff;
  --black: #000;
  --black-light: rgb(8, 0, 31);
  --primary-1: #7c71e1;
  --primary-2: #7b68ee;
  --primary-3: #6b63d3;
  --secondary-1: #34278d;
  --secondary-2: #393377;
  --therd: #6495ed;
  --fourth: #4682b4;
  --gray: gray;
  --gray-light: rgb(238, 238, 238);
  --accent: #fa8072;
  --primary-grident-1: linear-gradient(#ea8d8d, #a890fe);
  --primary-grident-2: linear-gradient(to left, #7c71e1, #6b63d3);
  --width-hero: 114rem;
  --input-width: 30rem;
}
a,
ul,
ol,
dt {
  text-decoration: none;
  list-style-type: none;
}
header {
  box-shadow: 0.1rem 0 0.3rem var(--gray-light);
}
nav {
  width: var(--width-hero);
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 8rem;
  height: 4rem;
}
ul {
  display: flex;
  align-items: center;
}
.nav-item .nav-items {
  display: inline-block;
}
.nav-items a {
  color: var(--black-light);
  padding: 0 1.5rem;
  display: inline-block;
}
.nav-items img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* form css */
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.input-group {
  display: flex;
  width: var(--input-width);
  margin-bottom: 1rem;
  background: var(--gray-light);
}
.input-group i {
  padding: 1rem 1rem;
}
.input-group input {
  flex: 1;
  border: 0.1rem solid var(--gray-light);
  font-size: 1.7rem;
  padding-left: 1rem;
}
input[type="submit"] {
  padding: 0.6rem 2rem;
  cursor: pointer;
  /* margin-left: -4rem; */
  font-size: 1.7rem;
  background: var(--primary-grident-2);
  color: var(--white);
}
.admin-heading {
  padding: 1rem 0;
}
/* form css */
